body {
  background: #d9583f;
}
.container {
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}

#editor {
  background-color: #193b53;
  color: #bcb5a0;
  height: 30vh;
}

h1 {
  color: #193b53;
}
